body{
    margin: 0px;
    background-image: url(../pic6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*{
    box-sizing: border-box;
}
nav{
    width: 100vw;
    height: 90px;
    background-color:#B1B1E6;
    padding-top: 25px;
}
.one{
    margin-left: 76vw;
}
a{
    size: 30px;
    color: #7272c2;
}
.logo{
    width: 105px;
    margin-left: 30px;
    position: relative;
    bottom: 30px;
}
header{
    background-color:#B1B1E6;
    height: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
}
h3{
    margin: 0px;
}
a{
    margin-top: 5px;
    text-decoration: none;
    padding: 5px;
}
.navlinks{
    position: relative;
    bottom: 80px;
}
body {font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3d8ac9;
  color: rgb(238, 161, 161);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7a0085;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
  footer {
    text-align: right;
    padding: 3px;
    background-color: #B1B1E6;
    height: 60px;
    bottom: 0;
    display: block;
    position: fixed;
    width: 100vw;
  }
  .nn{ 
    color:cornflowerblue
  }
  div.gallery {
    margin: 5px;
    float: left;
    width: 200px;
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .fa-brands fa-instagram{
    color: #7a0085;
  }