body{
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
   background-position: center left;
   background-color: #b9b9b9;
    color:#00014b;
    width: 100%;
  box-sizing: border-box;
}
header{
    background-color:#30343F;
    height: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
}
nav{
    width: 100vw;
    height: 90px;
    background-color:#30343F;
    padding-top: 25px;
}
.one{
    margin-left: 72vw;
}
a{
    margin-top: 10px;
    text-decoration: none;
    padding: 5px;
    color: #7272c2;
}
.navlinks{
    position: relative;
    bottom: 80px;
}
.logo{
    width: 105px;
    margin-left: 30px;
    position: relative;
    bottom: 30px;
}
h3{
    margin: 0px;
}
body {font-family: Arial, Helvetica, sans-serif;}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3d8ac9;
  color: rgb(238, 161, 161);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7a0085;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 100%;
}
  .nn{ 
    color:cornflowerblue
  }
  p{
    text-align: center;
    font-weight: 800;
    font-style: normal;
    font-size: large;
    margin: 0%;
    padding: 0%;
  }
  .hi{
    font-size: larger;
    font-weight: 100;
    font-family: cursive;
    color: black;
  }
  .photos{
    font-style: italic;
  } 
  div.gallery img {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0;
  }
  /* div.desc {
    padding: 10px;
    text-align: right;
  } */
  .responsive {
    padding: 0 6px;
    float: left;
    width: 20%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    text-align: right;
    padding: 3px;
    background-color:#30343F;
    height: 60px;
    display: block;
    width: 100vw;
    float: left;
  }
  .fa-brands fa-instagram{
    color: #7a0085;
  }
  .a{
    color: forestgreen;
    font-weight: 100;
    font-size: larger;
    font-synthesis: style;
  }
 
